@model ServiceApp.Models.ServiceOrders

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ServiceOrders</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerAdapter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerAdapter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFixed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFixed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
